In [1]:
# print statement to display a message
print("welcome to python programming")

welcome to python programming

In [2]:
# Comments
# Single line comments
"""Multi line comments"""

'Multi line comments'

Variable 
----------
- Variables are used to store the data/Value

In [3]:
n1 = 10                  # Single Variable assignment
a = b = c = 20           # Multiple variable assignment
x,y,z = 1,2,3            # Multiple variable assignment with values
print(x,y,z)
print(a)
print(n1)

1 2 3
20
10

In [4]:
i = 123
i

123

In [5]:
s1 = "Python"
f = 45.67
n = 800

print(s1)
print(f)
print(n)

Python
45.67
800

In [6]:
print(s1,f,n)

Python 45.67 800

In [7]:
s1 = "string1"
s2 = "string2"
print("two strings are "+s1+ "and"+s2)

two strings are string1andstring2

In [8]:
n1 = 56
n2 = 89
print("first integer value as",n1,"and second integer value",n2)

first integer value as 56 and second integer value 89

In [9]:
n = int(input("enter a value"))
print(type(n))
print(n)

enter a value100
<class 'int'>
100

In [10]:
f = float(input("enter a value"))
f

enter a value100

100.0

In [11]:
s = input()
s

saimanasa

'saimanasa'

Operators
--------------
- Arithmetic Operators
    - +,-,*,/,%,//,**
- Assignment Operators
    - +=,-=,*=,/=,%=,//=,**=,=
- Logical Operators
    - and, or, not
- Bitwise Operators
    - &,|,^,~,>>,<<
- Comparision Operators
    - <,>,<=,>=,==,===,!=
- Identity Operators
   - is, is not
- Membership operators
   - in, not in

In [12]:
a = 5
b = 2
a//b  # integer division

2

In [13]:
a**b # a power b-- a ^ b

25

In [14]:
a%b

1

In [15]:
print("addition",a+b)
print(a-b)
print(a*b)
print(a/b)
print("mod divison",a%b)
print(a//b)
print(a**b)

addition 7
3
10
2.5
mod divison 1
2
25

In [16]:
h = 20
h += 4   # h = h+4
print(h)

24

In [17]:
3 < 5 and 7 < 10

True

In [18]:
6 < 5 and 11 < 10

False

In [19]:
not (4 <= 5 or 7 ==8)

False

In [20]:
n1 = 3  # 0011
n2 = 5  # 0101
n1 & n2 # 0001

1

In [21]:
n1 | n2 # 0111

7

In [22]:
n1 ^ n2 # 0110

6

In [23]:
~n1   #(-(n1+1))

-4

In [24]:
a = 2
b = 5 
a<<b # 2<<5 --> 0010<<5--> 100 0000

64

In [25]:
10 << 2 # 1010<<2 --> 101000

40

In [26]:
a = 2
a is 2

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-26-25991c80b7ab>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 2

True

In [27]:
a is not 5

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-27-ceb0796d34a2>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is not 5

True

In [28]:
a is not 2

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-28-179784207a65>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is not 2

False

In [29]:
x = 8
y = 9
z = 8
print(x is y)
print(x is z)
print( y is not z)

False
True
True

In [30]:
k = [1,2,3,4]
4 in k

True

In [31]:
10 in k

False

In [32]:
a = 20
b = "20"
a == b

False