- Function 
   -A group of statements or a blcok of code which performs a specific task when it is called

- Types of functions
     - Pre-Defined Functions
     - print, input,type, int, float, str, range, list, tuple, set, dict, min, max, abs, sum, chr, ord
     - User Defined Functions

In [11]:
s = "This is a string with few characters 5678"
min(s)

' '

In [12]:
chr(97)

'a'

In [13]:
chr(32)

' '

In [14]:
ord('T')

84

In [15]:
ord(' ')

32

In [9]:
ord('o')

111

In [10]:
s = "string with characters and digits 0123 @("
print(max(s))
min(s)

w

' '

In [16]:
s1 = "0123abcde"
min(s1)

'0'

In [17]:
min(s1)

'0'

In [18]:
ord("o")

111

In [19]:
s2 = 1234
min(s2)

TypeError: 'int' object is not iterable

In [20]:
p = -987
n = 567
abs(p)

987

In [21]:
abs(n)

567

In [22]:
len("python Programming")

18

In [3]:
b = [1,2,3,4,5]

In [4]:
sum(b)

15

In [7]:
s = "Bhanu Prakash"
min(s)
print(max(s))

u

In [ ]:
# function syntax
def functionName(arguments):
    statements
    statements
functionName(arguments)

In [9]:
def message(m):
    print("from user:"+m)
    
m = input("enter a message")
message(m)

enter a messagepython
from user:python

In [10]:
message(input("enter a mesage"))

enter a mesagepython
from user:python

In [14]:
def add(a,b):
    return a+b
    print("this statement doesnt print")
add(int(input("enter a value")),int(input("enter b value")))
add(1,1)

enter a value1
enter b value9

2

def add(a,b):
    c = a+b
    print(c)
    print("this will print")
    
add(5,6)

- Arguments types in Functions:
  - Required arguments
       - the number of arguments present in function call should exactly match with match function definition
  - Keyword arguments
      - when we use keyword arguments in a function call, the caller identifies the arguments by parameter name.
        Python intrepeter is able to use the keywords provided to match the values with parameter.
  - Default arguments
       - A default argument is an argument that assumes a default value if a value is not provided or mentioned in the function          call for that arugument.
   - Variable length arguments
        - when we have a need to accept many values from the user for a argument then we use this varaiable length argument. An            astriek(*) is placed before the argument name that holds all the values and returns in tuple.

In [16]:
# Required arguments
def multiply(a,b,c):
    print(a*b*c)

multiply(int(input("enter a value")),int(input("enter b value")),int(input("enter c value")))

enter a value1
enter b value2
enter c value2
4

In [17]:
multiply(5,6,1)

30

In [18]:
# keyword Arguments
def student(rollno, name, branch):
    print(rollno)
    print(name)
    print(branch)

student(1,"python","cse")

1
python
cse

In [19]:
student(name="abcde",branch="cse",rollno=123)

123
abcde
cse

In [22]:
# Default Arguments
def defaultArgs(h,a=12,b="string", c="float",d = 98.56):
    print(a,b)
    print(c,d)

In [23]:
defaultArgs(4)

12 string
float 98.56

In [24]:
defaultArgs(4,1,2)

1 2
float 98.56

In [25]:
defaultArgs(23,1,2,3,4)

1 2
3 4

In [26]:
def varargs(a,b,*c):
    print(a,b)
    print(c)
    
    
varargs(1,2,3,34,8,6,5,4,3,"jik",98.7,5.7,5678)

1 2
(3, 34, 8, 6, 5, 4, 3, 'jik', 98.7, 5.7, 5678)